<div class="dialog-container">
  <div class="header">
    <div>
      <p>Add new post</p>
    </div>
  </div>
  <div class="body">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Title:</label>
        <select name="user-select" id="userId" formControlName="userId">
          <option value="1">user 1</option>
          <option value="2">user 2</option>
          <option value="3">user 3</option>
          <option value="4">user 4</option>
        </select>
      </div>
      <div>
        <label>Title:</label>
        <input id="title" type="text" formControlName="title" />
      </div>
      <div>
        <label>Title:</label>
        <textarea id="body" type="text" formControlName="body"></textarea>
      </div>
      <div>
        <button mat-button type="submit" [disabled]="!postForm.valid">
          Add
        </button>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
      </div>
    </form>
  </div>
</div>
