.dialog-container {
  background-color: white;
  width: 70%;
  max-width: 900px;
  margin: auto;
  padding: 16px;
  color: #484141;
}
.header {
  display: flex;

  flex-flow: wrap;
  color: #272727;
  justify-content: space-between;
}

.body {
  color: #525252;
}
